/* === ENLACES === */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* === BODY ===*/
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background: radial-gradient(circle, #D8968F, #FAF8F1);
}

/* === NAV === */
nav{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#CAD19F, #D8968F);
    background-color: ;
    align-items: center;
    padding: 10px 20px;
    width: auto;
    color: #FAF8F1;
    font-weight: bold;
}
nav p{
    font-size: 20px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #FAF8F1;
    font-weight: bold;
}
nav a:hover{
    text-decoration: none;
    color: #535231;
    font-weight: bold;
}

/* === HEADER === */
header{
    background-color: #CAD19F;
    padding: 20px;
    width: auto;
}
header h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAF8F1;
    font-size: 70px;

}
#contenedor-titulo{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    text-shadow: 0px 4px 10px #a3a19c;;
}
#escarabajo-img{
    width: 250px;
}
#mono-img{
    width: 180px;
}
#idioma-enlace{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#idioma-enlace a{
    text-decoration: none;
    background-color: #919869;
    padding: 5px;
    color: #FAF8F1;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 4px 10px #535231;
}
#idioma-enlace a:hover{
    text-decoration: none;
    background-color: #D8968F;
    padding: 5px;
    color: #FAF8F1;
    border-radius: 5px;
    font-weight: bold;
}

/* === MAIN === */
/* - seccion-bienvenida - */
#seccion-bienvenida{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#perfil-p{
    background-color: #919869;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #FAF8F1;
    border-radius: 5px;
    width: auto;
    box-shadow: 0px 4px 10px #535231;
}
#seccion-bienvenida img{
    width: 400px;
    padding: 10px;
}
#bienvenida{
    padding: 25px;
    background-color: #FAF8F1;
    border-radius: 5px;
    text-align: center;
    margin-right: 40px;
    width: auto;
    margin-top: 20px;
    font-size: 17px;
    color: #535231;
    box-shadow: 0px 4px 10px #b9b7b3;
}
#p-texto{
    text-align: left;
}